
*{
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	box-sizing: border-box;
}
body{
	font-family: "微软雅黑";
	font-size: 16px;
	margin: 0;
}
a{
	text-decoration: none;
	color: #fff;
}
.header{
	width: 100%;
	height: 86px;
	background: url(../image/top.jpg) repeat-x;
}
.header_in{
	width: 980px;
	height: 0 auto;
	position: relative;
}
.header_in .left{
	position: absolute;
	left: 0;
	top: 5px;
}
.header_in .right{
	position: absolute;
	right: 78px;
	top: 13px;
}
.nav{
	width: 980px;
	height: 74px;
	margin: 0 auto;
	padding-left: 80px;
	background: url(../image/navbg.png) no-repeat;
}
.nav ul li{
	float: left;
	line-height: 45px;
	width: 100px;
	height: 48px;
	text-align: center;
}
.nav ul li a{
	display: block;
	width: 100px;
	height: 48px;
}
.nav ul li:hover{
	background: url(../image/pic03.png) no-repeat;
}
.nav ul li.last{
	background: url(../image/pic03.png) no-repeat;
}
.banner{
	width: 980px;
	height: 330px;
	margin: 0 auto;
	background: url(../image/banner01.jpg) no-repeat;
}
.sticky{
	position: sticky;
	top: 0;
	padding: 5px;
	float:right;
}
.content{
	font-size: 28px;
	font-weight: bold;
	width: 980px;
	height: 650px;
	margin: 0 auto;
	background: #f5f5f5;
	line-height: 1;
	padding-bottom: 9px;
	border-bottom: solid 2px #666666;
}
.content .a{
	color: #00AA98;
	font-size: 40px;
	padding: 20px;
}
.content .b{
	color: #333;
	font-size: 20px;
	padding: 20px;
}
.content .more{
	margin: 0 auto;
	text-align: center;
}
.footer{
	width: 100%;
	height: 86px;
	padding-top: 45px;
	background: #ccc;
	text-align: center;
	color: #fff;
}
.topmenu{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #777;
}
.topmenu li{
	float: left;
}
.topmenu li a{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}
.topmenu li a:hover{
	background-color: #222;
}
.topmenu li a.active{
	color: white;
	background-color: #4CAF50;
}
.column{
	float: left;
	padding: 15px;
}
.clearfix::after{
	content: "";
	clear: both;
	display: table;
}
.sidemenu{
	width: 25%;
}
.contenx{
	width: 75%;
}
.sidemenu ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.sidemenu li a{
	margin-bottom: 4px;
	display: block;
	padding: 8px;
	background-color: #eee;
	text-decoration: none;
	color: #666;
}
.sidemenu li a:hover{
	background-color: #555;
	color: white;
}
.sidemenu li a.active{
	background-color: #008CBA;
	color: white;
}